<div class="bg-white rounded-3 p-3 text-center width">
    <div class="mb-3">
        <a class="text-decoration-none fs-6 align-middle" routerLink="/welcome/login">
            <mat-icon class="align-middle">arrow_back</mat-icon>
            <span class="align-middle">Back to login</span>
        </a>      
    </div>
    
    <h1 class="fw-bold">Register</h1>
    <form class="d-flex flex-column" [formGroup]="form" (ngSubmit)="registerPatient()">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username"/>
            <mat-icon matPrefix>person</mat-icon>
            @if (form.get('username').hasError('required')) {
                <mat-error>Username is required</mat-error>
            } @else {
                @if (form.get('username').hasError) {
                    <mat-error>Username should be 5 character min (max. 30)</mat-error>
                }
            }
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password"/>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-icon matSuffix (click)="hide = !hide">
                {{ hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            @if (form.get('password').hasError('required')) {
                <mat-error>Password is required</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"/>
            <mat-icon matPrefix>lock</mat-icon>    
            @if (form.get('confirmPassword').hasError('passwordMismatch')) {
                <mat-error>Passwords should be the same</mat-error>
            }
        </mat-form-field>

        <button mat-flat-button [disabled]="!form.valid" class="btn btn-primary">Login</button>
    </form>
    @if (form.get('password').hasError('pattern')) {
        <div class="mt-3 alert alert-danger">
        
            <div>Password should be at least 8 characters containing at least one uppercase and one lowercase letter,
                one digit and one special character</div>
            
        </div>
    }   
    <p class="mt-4">Are you a doctor? Register <a routerLink="/welcome/register-doctor">here</a></p>
    
</div>
