.initial-letter {
    width: 3rem;
    height: 3rem;
}

.nav-item > .active {
    color: black !important;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .initial-letter {
        width: 2rem;
        height: 2rem;
    }
}