<nav class="navbar navbar-expand-md bg-primary border border-black border-2 border-top-0 border-end-0 border-start-0">
    <div class="container-xxl fs-5">
      <a class="navbar-brand h-100 text-white me-5" routerLink="homepage">
        <img src="../../../assets/logo.png" alt="Logo" width="35px" height="30px" class="h-100 me-1"/>
        Healthcare App
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" [routerLinkActive]="['active']" routerLink="homepage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [routerLinkActive]="['active']" routerLink="appointments">My Appointments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [routerLinkActive]="['active']" routerLink="account">My Account</a>
          </li>
        </ul>
        
      </div>
      @if (authService.user()) {
        <div>
          <div class="d-flex align-items-center">        
              <a [matMenuTriggerFor]="menu" role="button" class="d-flex gap-2 text-white align-items-center text-decoration-none">
                  <div class="initial-letter bg-success initialism fw-bold rounded rounded-circle d-flex justify-content-center align-items-center">
                      {{ authService.user().unique_name[0]}}
                  </div>
                  <div class="text-white">
                      {{authService.user().unique_name}}
                  </div>
              </a>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="logout()">
                      <mat-icon>logout</mat-icon>
                      <span>Logout</span>
                  </button>
              </mat-menu>           
          </div>
        </div>
      }
    </div>
  </nav>
