<form [formGroup]="form"> 
    <div class="d-flex flex-column">
        <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password" formControlName="password"/>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-icon matSuffix (click)="hide = !hide">
                {{ hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            @if (form.get('password').hasError('required')) {
                <mat-error>Password is required</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Confirm new Password</mat-label>
            <input matInput type="password" placeholder="Confirm new Password" formControlName="confirmPassword"/>
            <mat-icon matPrefix>lock</mat-icon>    
            @if (form.get('confirmPassword').hasError('passwordMismatch')) {
                <mat-error>Passwords should be the same</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>New Email</mat-label>
            <input matInput placeholder="New Email" formControlName="email"/>
            <mat-icon matPrefix>email</mat-icon>
            @if (form.get('email').hasError('required')) {
                <mat-error>Email is required</mat-error>
            } @else {
                @if (form.get('email').hasError) {
                    <mat-error>Email is not valid</mat-error>
                }
            }
        </mat-form-field>
    </div>  
</form>
@if (form.get('password').hasError('pattern')) {
    <div class="alert alert-danger">       
        <div>Password should be at least 8 characters containing at least one uppercase and one lowercase letter,
            one digit and one special character</div>           
    </div>
}   

@if (errorMessage) {
    <div class="alert alert-danger">
        <strong>Error: </strong>
        {{errorMessage}}
    </div>
}
@if (errors) {
    <ul class="alert alert-danger">
        @for (error of errorList; track error) {
            <li>{{ error}}</li>
        }                             
    </ul>
}   
<button class="btn btn-primary btn-md me-2" [disabled]="form.invalid" (click)="updateEmailAndPassword()">Update</button>
