<div class="min-vh-100 bg-primary-subtle">
    <div class="container p-3">
        <div class="col-lg-6 mx-auto my-5 p-3 rounded rounded-3 bg-white shadow d-flex flex-column align-items-center">
            <div class="text-center fs-4">Search for a doctor</div>
            <div class="d-flex flex-column flex-sm-row gap-3 justify-content-around my-3">
                <div class="input-group">
                    <div class="input-group-text">
                        <mat-icon>medical_services</mat-icon>
                    </div>
                    <input class="form-control" type="text" placeholder="Enter speciality" [(ngModel)]="speciality">
                </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <mat-icon>location_city</mat-icon>
                    </div>
                    <input class="form-control" type="text" placeholder="Enter city" [(ngModel)]="city">
                </div>            
            </div>
            <button class="btn btn-primary" (click)="searchDoctors()" [disabled]="!speciality || !city">Search Doctors</button>
            @if (errorMessage) {
                <div class="alert alert-danger mt-3 mb-0">{{ errorMessage }}</div>
            }
        </div>
        @if (doctors.length > 0) {
            <div class="col-md-6 col-lg-4 mx-auto">
                @for (doctor of doctors; track doctor) {
                    <div class="my-3 rounded rounded-2 shadow-sm bg-warning-subtle p-2 text-center">
                         <div class="fw-bold fs-6">{{ doctor.lastname }} {{ doctor.firstname }}</div>
                         <p>{{ doctor.speciality.specialityName.toUpperCase() }}</p>
                         <p>
                            <mat-icon class="align-middle"> location_on</mat-icon>
                            {{ doctor.address }} {{ doctor.streetNumber }}, {{ doctor.city }}</p>
                         <p>
                            <mat-icon class="align-middle">phone</mat-icon>
                            {{ doctor.phoneNumber }}
                        </p>
                        <button class="btn btn-color btn-outline-primary" (click)="onSeeAvailability(doctor)">See availability</button>
                    </div>
                }
            </div>
        }    
    </div>
</div>
