<div class="bg-primary-subtle min-vh-100">
    <div class="container py-3">
        <div class="d-flex flex-column gap-3 justify-content-between align-items-center">
            <span class="fw-bold fs-3">Users</span>
            <div>
                <button class="btn btn-outline-primary mx-1" [class]="{'active': selectedAll}" (click)="showAll()">All</button>
                <button class="btn btn-outline-primary mx-1" [class]="{'active': selectedDoctors}" (click)="showDoctors()">Doctors</button>
                <button class="btn btn-outline-primary mx-1" [class]="{'active': selectedPatients}" (click)="showPatients()">Patients</button>
            </div>
            <div>
                <input type="text" class="form-control rounded rounded-2 py-1 px-2" 
                        placeholder="Search by username" 
                        [(ngModel)]="inputUsername" 
                        (input)="searchByUsername()" 
                />
            </div>
            <div class="mb-1">
                <input type="text" class="form-control rounded rounded-2 py-1 px-2" 
                        placeholder="Search by email" 
                        [(ngModel)]="inputEmail" 
                        (input)="searchByEmail()" 
                />
            </div>
        </div>
        <div class="shadow-sm mt-2 text-start">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th role="button" class="px-3 border py-2" (click)="sortUsers('username')">Username {{ sortSign('username') }}</th>
                        <th role="button" class="px-3 border py-2" (click)="sortUsers('email')">Email {{ sortSign('email') }}</th>
                        <th role="button" class="px-3 border py-2" (click)="sortUsers('userRole')">Role {{ sortSign('userRole') }}</th>
                        <th role="button" class="px-3 border py-2" (click)="sortUsers('status')">Status {{ sortSign('status') }}</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @for (user of tempUsers; track user.id) {
                        <tr role="button" (click)="toggleDetails(user.id)" [class]="{'disable-click': user.userRole === 'Admin', 'table-active': user.id === selectedUserId}">
                            <td class="px-3 text-break">{{ user.username }}</td>
                            <td class="px-3 text-break">{{ user.email }}</td>
                            <td class="px-3">{{ user.userRole }}</td>
                            @if (user.status === 'Pending') {
                                <td class="px-3 text-warning">{{ user.status }}</td>
                            } @else if (user.status === 'Disabled') {
                                <td class="px-3 text-danger">{{ user.status }}</td>
                            } @else {
                                <td class="px-3 text-secondary">{{ user.status }}</td>
                            }                          
                        </tr>
                        @if (user.id === selectedUserId && user.userRole !== 'Admin') {
                            <tr role="button" class="bg-secondary">
                                <td class="bg-secondary-subtle" colspan="4">
                                    @if (user.userRole === 'Doctor') {
                                        <div class="d-flex align-items-center gap-4 my-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Firstname:</div>
                                            <input type="text" [disabled]="disabled" [(ngModel)]="user.doctor.firstname" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Lastname:</div>
                                            <input type="text" [disabled]="disabled" [(ngModel)]="user.doctor.lastname" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">City:</div>
                                            <input type="text" [disabled]="disabled" [(ngModel)]="user.doctor.city" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Address:</div>
                                            <input type="text" [disabled]="disabled" [(ngModel)]="user.doctor.address" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Street Number:</div>
                                            <input type="number" [disabled]="disabled" [(ngModel)]="user.doctor.streetNumber" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Phone Number:</div>
                                            <input type="text" [disabled]="disabled" [(ngModel)]="user.doctor.phoneNumber" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Appointment Duration:</div>
                                            <input type="number" [disabled]="disabled" [(ngModel)]="user.doctor.appointmentDuration" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Speciality:</div>
                                            <input type="text" [disabled]="disabled" [(ngModel)]="user.doctor.speciality.specialityName" />
                                        </div>
                                    } @else if (user.userRole === 'Patient') {
                                        <div class="d-flex align-items-center gap-4 my-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Firstname:</div>
                                            <input type="text" [disabled]="disabled" [(ngModel)]="user.patient.firstname" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Lastname:</div>
                                            <input type="text" [disabled]="disabled" [(ngModel)]="user.patient.lastname" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Age:</div>
                                            <span>{{ user.patient.age }}</span>
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Gender:</div>
                                            @if (user.patient.gender === 'F') {
                                                <span>Female</span>
                                            } @else if (user.patient.gender === 'M') {
                                                <span>Male</span>
                                            }
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Phone Number:</div>
                                            <input type="text" [disabled]="disabled" [(ngModel)]="user.patient.phoneNumber" />
                                        </div>
                                        <div class="d-flex align-items-start gap-4 my-2">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Medical History:</div>
                                            <textarea class="col-7 text-break" rows="5" [disabled]="disabled" [(ngModel)]="user.patient.medicalHistory"></textarea>
                                        </div>
                                    }
                                    <div class="offset-4 offset-md-3 offset-lg-2 gap-4 mt-3">
                                        @if (unsavedErrorMessage) {
                                            <div class="text-danger mb-1">{{ unsavedErrorMessage }}</div>
                                        }
                                        @if (user.status === 'Pending' || user.status === 'Disabled') {
                                            <button class="btn btn-success btn-sm ms-2 py-1 px-2" (click)="onActivate(user)">
                                                <mat-icon class="align-bottom">verified_user</mat-icon>
                                                Activate
                                            </button>
                                        } @else if (user.status === 'Approved') {
                                            <button class="btn btn-danger btn-sm ms-2 py-1 px-2" (click)="onDisable(user)">
                                                <mat-icon class="align-bottom">block</mat-icon>
                                                Disable
                                            </button>
                                        }
                                        @if (disabled) {
                                            <button class="btn btn-sm btn-primary ms-2 py-1 px-2" (click)="disabled = false">
                                                <mat-icon class="align-bottom">edit</mat-icon>
                                                Edit
                                            </button>
                                        } @else {
                                            <button class="btn btn-sm btn-primary ms-2 py-1 px-2" (click)="onSave(user)">
                                                <mat-icon class="align-bottom">save</mat-icon>
                                                Save
                                            </button>
                                            <button class="btn btn-sm btn-danger ms-2 py-1 px-2" (click)="onCancel(user)">
                                                <mat-icon class="align-bottom">cancel</mat-icon>
                                                Cancel
                                            </button>
                                        }
                                        
                                    </div>
                                </td>
                            </tr>
                        }                  
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>