<div class="bg-primary-subtle min-vh-100">
    <div class="container py-3">
        <div class="d-flex flex-column  gap-3 justify-content-between align-items-center">
            <span class="fw-bold fs-3">Users</span>
            <div>
                <input type="text" class="form-control rounded rounded-2 py-1 px-2" 
                        placeholder="Search by username" 
                        [(ngModel)]="inputUsername" 
                        (input)="searchByUsername()" 
                />
            </div>
            <div class="ms-1">
                <button class="btn btn-outline-primary m-1" [class]="selectedAll ? 'active' : ''" (click)="showAll()">All</button>
                <button class="btn btn-outline-primary m-1" [class]="selectedDoctors ? 'active' : ''" (click)="showDoctors()">Doctors</button>
                <button class="btn btn-outline-primary m-1" [class]="selectedPatients ? 'active' : ''" (click)="showPatients()">Patients</button>
            </div>
        </div>
        <div class="shadow-sm mt-2 text-start">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th role="button" class="px-3 border py-2" (click)="sortUsers('username')">Username {{ sortSign('username') }}</th>
                        <th role="button" class="px-3 border py-2" (click)="sortUsers('email')">Email {{ sortSign('email') }}</th>
                        <th role="button" class="px-3 border py-2" (click)="sortUsers('userRole')">Role {{ sortSign('userRole') }}</th>
                        <th role="button" class="px-3 border py-2" (click)="sortUsers('status')">Status {{ sortSign('status') }}</th>
                    </tr>
                </thead>
                <tbody>
                    @for (user of tempUsers; track user.id) {
                        <tr role="button" (click)="toggleDetails(user.id)">
                            <td class="px-3">{{ user.username }}</td>
                            <td class="px-3">{{ user.email }}</td>
                            <td class="px-3">{{ user.userRole }}</td>
                            @if (user.status === 'Pending') {
                                <td class="px-3 text-warning">{{ user.status }}</td>
                            } @else if (user.status === 'Declined') {
                                <td class="px-3 text-danger">{{ user.status }}</td>
                            } @else {
                                <td class="px-3 text-secondary">{{ user.status }}</td>
                            }                          
                        </tr>
                        @if (user.id === selectedUserId && user.userRole !== 'Admin') {
                            <tr role="button" class="bg-secondary">
                                <td class="bg-secondary-subtle" colspan="4">
                                    @if (user.userRole === 'Doctor') {
                                        <div class="d-flex align-items-center gap-4 my-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Firstname:</div>
                                            <input type="text" disabled [value]="user.doctor.firstname" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Lastname:</div>
                                            <input type="text" disabled [value]="user.doctor.lastname" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">City:</div>
                                            <input type="text" disabled [value]="user.doctor.city" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Address:</div>
                                            <input type="text" disabled [value]="user.doctor.address" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Street Number:</div>
                                            <input type="number" disabled [value]="user.doctor.streetNumber" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Phone Number:</div>
                                            <input type="text" disabled [value]="user.doctor.phoneNumber" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Appointment Duration:</div>
                                            <input type="number" disabled [value]="user.doctor.appointmentDuration" />
                                        </div>
                                        <div class="d-flex align-items-center gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Speciality:</div>
                                            <input type="text" disabled [value]="user.doctor.speciality ? user.doctor.speciality.specialityName : '-'" />
                                        </div>
                                    } @else if (user.userRole === 'Patient') {
                                        <div class="d-flex gap-4 m-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Firstname:</div>
                                            <span>{{ user.patient.firstname }}</span>
                                        </div>
                                        <div class="d-flex gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Lastname:</div>
                                            <span>{{ user.patient.lastname }}</span>
                                        </div>
                                        <div class="d-flex gap-4 m-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Age:</div>
                                            <span>{{ user.patient.age }}</span>
                                        </div>
                                        <div class="d-flex gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Gender:</div>
                                            @if (user.patient.gender === 'F') {
                                                <span>Female</span>
                                            } @else if (user.patient.gender === 'M') {
                                                <span>Male</span>
                                            }
                                        </div>
                                        <div class="d-flex gap-4 m-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Phone Number:</div>
                                            <span>{{ user.patient.phoneNumber }}</span>
                                        </div>
                                        <div class="d-flex gap-4 mb-1">
                                            <div class="col-4 col-md-3 col-lg-2 text-end">Medical History:</div>
                                            <textarea class="col-4 text-break" rows="5" disabled [value]="user.patient.medicalHistory"></textarea>
                                        </div>
                                    }
                                    <div class="offset-4 offset-md-3 offset-lg-2 gap-4 mt-3">
                                        @if (user.status === 'Pending') {
                                            <button class="btn btn-success btn-sm ms-2 py-1 px-2">
                                                <mat-icon class="align-bottom">verified_user</mat-icon>
                                                Enable
                                            </button>
                                        }
                                        <button class="btn btn-sm btn-primary ms-2 py-1 px-2">
                                            <mat-icon class="align-bottom">edit</mat-icon>
                                            Edit
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }                  
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>